* {
    box-sizing: border-box;
}

html {
    background: #001926;
}

body {
    background: #001926;
}

#Container {
    background-color: #001926;
    text-align: center;
}

.headerText {
    text-align: center;
}

.navbar, .is-active{
    background-color: #0A0024;
}

.label, .navbar-item, .checkbox {
    color: white
}

.contents2 {
    max-width: 45%;
    margin: auto;
    background-color: #001926;
    text-align: center;
}

.footer {
    background-color: #0A0024;
    padding: 24px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin-top: 1000px;
}

.ratearticle {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 80%;
    background-color: #0A0024;
}

.footertext, strong {
    color: white;
}