.headerText {
    text-align: center;
}

.navbar {
    background-color: #FF9543;
}

.navbar-item {
    color: white;
}

.contact-input {
    width: 50%;
    margin: auto;
}

#contactforms {
    margin-top: 100px;
}

.is-success, .is-danger {
    display: none;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#test {
    margin: auto;
    text-align: center;
}