html {
    background: #F4FEFF;
}

body {
    height: 100%;
    background: #F4FEFF;
}

.headerText {
    text-align: center;
}

.navbar {
    background-color: #FF9543;
}

.navbar-item {
    color: white;
}

.navlogo {
    width: 75px;
    height: 500px;
    min-height: 100%;
}

.signin_column {
    text-align: center;
    background-color: #77EEFF;
    color: midnightblue;
    font-family: 'Fjalla One', sans-serif;
    color: white;
}

#signupDiv {
    margin-right: 5px;
}

#signinDiv {
    margin-left: 5px;
}

.contact-input {
    width: 50%;
    margin: auto;
}

.is-success, .is-danger {
    display: none;
    width: 40%;
    margin: auto;
    text-align: center;
}

#results {
    margin: auto;
    text-align: center;
}

.business-img {
    width: 200px;
    height: 200px;
}

.card {
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.usersearch {
    width: 500px;
}

#new-result, #multiple {
    margin: auto;
    text-align: center;
}

#beerResults {
    margin: auto;
    text-align: center;
}

.search2, .more {
    display: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%
}

#newBeer {
    display: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%
}

#moreBeer {
    display: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 40%
}

.footer {
    background-color: #FF9543;
    padding: 24px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.btns {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 50px;
}

.hours {
    margin-bottom: 20px;
}

.ratingsDiv {
    margin: auto;
    text-align: center;
}

.stars {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#categoryCheck {
    text-align: center;
}

#resultSec {
    padding-top: 0;
    margin-bottom: 100px;
}

#signupsection {
    margin-bottom: 150px;
}

.ratingscontainer {
    margin-bottom: 300px;
}

.checkbox-container {
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.signup-container {
    width: 50%;
}

#ratinginput {
    margin-top: 10px;
}

.ratearticle {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 50%;
    background-color: #FF9543;
}

.footertext, strong, .ratemessagetext {
    color: white;
}

@media only screen and (max-width: 600px) {
    #moreBeer {
        display: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 40%
    }
    .btns {
        margin-bottom: 1000px;
    }
}

@media only screen and (max-width: 768px) {
    .card, .messages, .contact-input, .search2, .more, #newBeer, #moreBeer {
        width: 90%;
    }
    .usersearch {
        width: 100%;
        margin: auto;
        margin-left: 10px;
    }
    .search {
        margin: 0px 10px;
    }
    .mainlogo {
        margin: auto;
    }
    .ratearticle {
        margin: auto;
        margin-top: 50px;
        text-align: center;
        background-color: #FF9543;
        width: 90%;
    }
    #signupDiv, #signinDiv {
        margin: 0;
    }
}

@media only screen and (max-width: 1366px) {
    .mainLogo {
        text-align: center;
    }
    .navbar-item {
        color: white
    }
}